<div class="about-section bg-gradient p-5 rounded">
  <h2 class="text-center mb-4">About Node.JS User Management System</h2>
  <p class="lead">
    This is the about page for Node.JS. Add your about content here. Make it
    attractive and engaging for users to learn more about your website and its
    features. Continue Soon!!!!
  </p>
</div>
