<!-- <div class="hero bg-primary text-white py-5"> -->
<div
  class="hero py-5"
  style="
    background-image: linear-gradient(to bottom right, #0099cc, #66ccff);
    color: #fff;
  "
>
  <div class="container">
    <h2 class="display-4">Welcome to Management System!</h2>
    <p class="lead">A Node.js User Management System...</p>
  </div>
</div>
